* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #FFFFFF;
  --base-color: 255;
  --text-color: #323238;
  
  --bg-primary-light:hsla(240, 9%, 89%, 1) ;
  --bg-secondary-light: hsla(194, 97%, 31%, 1);
  --text-color-secondary: #FFFFFF;
  
  --primary-color:: hsl(var(--base-color), 100%, 63%);
}

body.dark {
  color: white;
  background: #121214;

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;
  display: grid;
  min-height: 100vh; 
}

main {
  justify-self: center;
  user-select: none;
}

#theme {
  justify-self: end;
  top: right;
  padding: 10%;
  user-select: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80rem;
  height: 34rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: clamp(3.2rem, 2rem + 7vw, 6.4rem);
}

.hide {
  display: none;
}

#timer {
  display: inline;
  justify-content: center;
  margin-bottom: -2rem;
  
  font-size: 12rem;
  line-height: 10rem;
  font-weight: 700;
  
}
span {
  display: table-cell;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 3.2rem;
  
  border-radius: 100rem;
  
  width: clamp(10rem, 4rem + 26vw, 22.8rem);
  height: clamp(8rem, 2rem + 10vw, 10.8rem);
}
#card-sounds {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  width: 40rem;
  height: 33.6rem;
}

#card button {
  margin: 1rem;
}

#card img {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  
  background: var(--bg-primary-light);
  padding: 4.6rem;
}

.filter {
  filter: invert(90%) sepia(0%) saturate(1200%) hue-rotate(140deg) brightness(200%) contrast(80%);
}

footer {
  align-self: end;
  justify-self: end;
  bottom: right;
  padding: 10%;
  user-select: none;
}
