* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #ffffff;
  --text-color: #323238;

  --bg-primary-light: hsla(194, 97%, 31%, 1);
  --bg-secondary-light: hsla(195, 74%, 15%, 1);
  --bg-selected: hsla(194, 97%, 31%, 1);

  --input-range: #323238;
}

.card-sounds.selected {
  background: var(--bg-selected);
  --text-color: #ffffff;
}

body.dark {
  --bg-color: hsla(240, 5%, 7%, 1);
  --text-color: #ffffff;

  --bg-primary-light: hsla(240, 6%, 17%, 1);
  --bg-selected: hsla(195, 74%, 15%, 1);
  --input-range: white;
}

#controls svg path,
.card svg path,
.sound svg path {
  fill: var(--text-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  --bg-primary-light: hsla(240, 9%, 89%, 1);

  font-family: 'Roboto', sans-serif;
  display: grid;
  min-height: 100vh;
}

main {
  justify-self: center;
  user-select: none;
}

#theme {
  justify-self: end;
  top: right;
  padding: 10%;
  user-select: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85rem;
  height: 34rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card button svg {
  width: clamp(3.2rem, 2rem + 7vw, 6.4rem);
  margin-top: 2.5rem;
}

.hide {
  display: none;
}

#timer {
  display: inline;
  justify-content: center;
  margin-bottom: -2rem;

  font-size: 12rem;
  line-height: 10rem;
  font-weight: 700;
}
span {
  display: table-cell;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1.2rem;

  border-radius: 100rem;

  width: clamp(10rem, 4rem + 26vw, 22.8rem);
  height: clamp(8rem, 2rem + 10vw, 10.8rem);
}

.card {
  display: grid;
  justify-items: center;
  align-content: space-evenly;

  grid-template-columns: 50% 50%;
  width: 34rem;
  height: 30rem;
}

.card-sounds {
  background: var(--bg-primary-light);
  margin: 1rem;
  padding: 1rem;
  border-radius: 2.4rem;
}

input {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  padding: 1rem;
  height: 4px;

  width: 80%;

  -webkit-appearance: none;
  background-color: transparent;
}

input::-webkit-slider-runnable-track {
  height: 4px;
  cursor: pointer;
  background: var(--input-range);
}

input::-webkit-slider-thumb {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 16px;
  background: var(--input-range);
  -webkit-appearance: none;
  margin-top: -6px;
}

footer {
  align-self: end;
  justify-self: end;
  bottom: right;
  padding: 10%;
  user-select: none;
}

@media (max-width: 768px) {
  body {
    padding: 30rem 0;
  }

  .mode {
    margin-bottom: 30rem;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    gap: 48rem;
  }
}
